@use "fonts"
@use "typography"
@use "variables"

.blog
    padding: 8rem 0
    grid-column: 2/3
    display: grid
    grid-template-columns: 1fr
    @include variables.respond(desktop)
        padding: 5rem 0
    &__title
        margin-bottom: 8rem
        @include variables.respond(desktop)
            margin-bottom: 5rem
    &__cards
        grid-column: 1/2
        padding-bottom: 8rem
        @include variables.respond(desktop)
            padding-bottom: 5rem
    &__btn
        justify-self: center

.cards
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 3.2rem
    @include variables.respond(desktop)
        grid-template-columns: repeat(2, 1fr)
    &__blog
        padding: 1.6rem
        width: 100%
        border: solid .1rem variables.$gris
        border-radius: 0 9.6rem 0 4rem
    &__content-text
        //display: flex
    &__img
        height: 32rem
        border-radius: 0 8rem 0 8rem
        margin-bottom: 1.6rem
        overflow: hidden
        &_img-1
            background-image: url('../img/card-1.png')
            background-image: image-set(url('../img/card-1.webp') type('image/webp'), url('../img/card-1.png') type('image/png'))
            background-size: cover
            background-position: 50% 55%
            background-repeat: no-repeat
        &_img-2
            background-image: url('../img/card-2.png')
            background-image: image-set(url('../img/card-2.webp') type('image/webp'), url('../img/card-2.png') type('image/png'))
            background-size: cover
            background-position: 50% 55%
            background-repeat: no-repeat
        &_img-3
            background-image: url('../img/card-3.png')
            background-image: image-set(url('../img/card-3.webp') type('image/webp'), url('../img/card-3.png') type('image/png'))
            background-size: cover
            background-position: 50% 55%
            background-repeat: no-repeat
    &__link
        display: flex
        justify-content: flex-end
        a
            display: flex
            align-items: center
            p
                &:hover
                    color: variables.$hover

.cont-txt
    display: flex
    flex-direction: column
    gap: 1.6rem
    &__name-date
        width: 100%
        display: flex
        justify-content: space-between

.name
    display: flex
    gap: .8rem
