@use "fonts"
@use "typography"
@use "variables"

/* универсальная кнопка */
//.btn
     height: 4rem
     width: max-content
     //background-color: variables.$green
     padding: .8rem 2.4rem
     //font-family: fonts.$font-face_400
     font-size: 1.8rem
     //color: variables.$black
     border-radius: 5rem
     &:hover
          //background-image: variables.$greenGradient

/* <button class="btn">Try For Free</button> */

