//@font-face
     font-family: 'Alexandria-Black'
     src: local('Alexandria-Black')
     src: url('../fonts/Alexandria-Black.ttf') format('truetype'),url('../fonts/Alexandria-Black.woff') format('woff'),url('../fonts/Alexandria-Black.woff2') format('woff2')


$font-face_100: 'Alexandria-Thin'
$font-face_200: 'Alexandria-ExtraLight'
$font-face_300: 'Alexandria-Light'
$font-face_400: 'Alexandria-Regular'
$font-face_500: 'Alexandria-Medium'
$font-face_600: 'Alexandria-SemiBold'
$font-face_700: 'Alexandria-Bold'
$font-face_800: 'Alexandria-ExtraBold'
$font-face_900: 'Alexandria-Black'

/* .class
     font-family: fonts.$font-face_900
     font-size: 10rem */