@use "fonts"
@use "typography"
@use "variables"

.main
     display: grid
     grid-template-columns: minmax(3rem, 1fr) minmax(32rem, 128rem) minmax(3rem, 1fr)
     background-color: variables.$background
     width: 100%
     height: max-content
     @include variables.respond(tabletSmall)
          grid-template-columns: minmax(1rem, 1fr) minmax(10rem, 128rem) minmax(1rem, 1fr)
