.slide-2
    display: flex
    flex-direction: column
    gap: 1.6rem
    padding: 2.4rem 4rem
    height: max-content
    width: 33%
    box-sizing: border-box
    &__top
        display: grid
        grid-template-columns: minmax(10rem, max-content) 1fr
        gap: 1.6rem
    &__img
        width: 10rem
        height: 10rem
        border-radius: 50%
        overflow: hidden
        &_foto-1
            background-image: url('../img/foto-1.png')
            background-image: image-set(url('../img/foto-1.webp') type('image/webp'), url('../img/foto-1.png') type('image/png'))
            background-size: cover
            background-position: 50% 63%
            background-repeat: no-repeat
        &_foto-2
            background-image: url('../img/foto-2.png')
            background-image: image-set(url('../img/foto-2.webp') type('image/webp'), url('../img/foto-2.png') type('image/png'))
            background-size: cover
            background-position: 90% 17%
            background-repeat: no-repeat
        &_foto-3
            background-image: url('../img/foto-3.png')
            background-image: image-set(url('../img/foto-3.webp') type('image/webp'), url('../img/foto-3.png') type('image/png'))
            background-size: cover
            background-position: 90% 17%
            background-repeat: no-repeat
        &_foto-4
            background-image: url('../img/foto-1.png')
            background-image: image-set(url('../img/foto-1.webp') type('image/webp'), url('../img/foto-1.png') type('image/png'))
            background-size: cover
            background-position: 50% 63%
            background-repeat: no-repeat
        &_foto-5
            background-image: url('../img/foto-2.png')
            background-image: image-set(url('../img/foto-2.webp') type('image/webp'), url('../img/foto-2.png') type('image/png'))
            background-size: cover
            background-position: 90% 17%
            background-repeat: no-repeat
        &_foto-6
            background-image: url('../img/foto-3.png')
            background-image: image-set(url('../img/foto-3.webp') type('image/webp'), url('../img/foto-3.png') type('image/png'))
            background-size: cover
            background-position: 90% 17%
            background-repeat: no-repeat
    &__content
        justify-self: start
        align-self: center
        .paragraph-20_mod
            margin-bottom: .8rem

    &__bottom
        display: flex
        justify-content: flex-start
        p
            text-align: left
