@use "fonts"
@use "variables"

.title-h1
     font-family: fonts.$playfairdisplay
     font-size: 6.4rem
     font-weight: 500
     color: rgb(40, 42, 58)

.title-h2
     font-family: fonts.$playfairdisplay
     font-size: 3.6rem
     font-weight: 400
     color: rgb(40, 42, 58)

.title-h3
     font-family: fonts.$inter
     font-size: 2.4rem
     font-weight: 400
     color: rgb(40, 42, 58)
     opacity: 0.56

.paragraph-statistics
     font-family: fonts.$inter
     font-size: 6.4rem
     font-weight: 400
     color: variables.$paragraph
     
.paragraph-statistics-text
     font-family: fonts.$playfairdisplay
     font-size: 2.4rem
     font-weight: 400
     color: variables.$paragraph

.paragraph-20
     font-family: fonts.$inter
     font-size: 2rem
     font-weight: 400
     color: variables.$paragraph

.paragraph-16
     font-family: fonts.$inter
     font-size: 1.6rem
     font-weight: 400
     color: variables.$paragraph

.btn-text
     font-family: fonts.$playfairdisplaySC
     font-weight: 400
     font-size: 2.4rem
     color: variables.$background
     line-height: 105%
