@use "fonts"
@use "variables"

.title-h1
     font-family: fonts.$poppins
     font-size: 64px
     font-weight: 500
     color: rgb(40, 42, 58)

.title-h2
     //

.title-h3
     //

.paragraph
     //
