$background: rgb(255, 255, 255)
$paragraph: rgb(40, 42, 58)
$hover: rgb(109, 22, 0)
$hover-trans: rgb(163, 34, 2)

// адаптив
@mixin respond($breakpoint)
  @if $breakpoint == mobile
    @media (max-width: 425px)
      @content
  @else if $breakpoint == tablet
    @media (max-width: 768px)
      @content
  @else if $breakpoint == desktop
    @media (max-width: 1023px)
      @content

//@include variables.respond(mobile)
