$background: rgb(255, 255, 255)
$input: rgba(255, 255, 255, 0.08)
$btn: rgb(247, 247, 247)
$paragraph: rgb(40, 42, 58)
$hover: rgb(109, 22, 0)
$gris: rgb(217, 217, 217)

// адаптив
@mixin respond($breakpoint)
  @if $breakpoint == mobile
    @media (max-width: 425px)
      @content
  @if $breakpoint == tabletSmall
    @media (max-width: 563px)
      @content
  @else if $breakpoint == tablet
    @media (max-width: 768px)
      @content
  @else if $breakpoint == desktop
    @media (max-width: 1023px)
      @content

//@include variables.respond(tabletSmall)
